.welcomeSection, .explore p, .tickets .buy, .tickets p, .tickets label {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.tickets .number .number-minus, .tickets .number .number-plus, .tickets .number1 .number-minus1, .tickets .number1 .number-plus1 {
  position: absolute;
  height: 50px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 22px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.tickets .number input[type="number"], .tickets .number1 input[type="number"] {
  display: block;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 26px;
  width: 100%;
  padding: 0;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

p {
  font-family: "Roboto", sans-serif;
}

.subtitle {
  right: 0px;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
}

.section {
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.section-title {
  margin-top: 0px;
  font-family: "Forum";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 80px;
  line-height: 90px;
  color: #9D8665;
}

.dark-section-title {
  color: #fff;
}

h1 {
  color: #fff;
  padding-left: 74px;
  text-transform: uppercase;
  font-family: "Forum";
  font-size: 28px;
  font-style: normal;
  letter-spacing: 5px;
}

.darkSection {
  background-color: #030303;
  color: #fff;
}

.welcomeSection {
  background-image: url("assets/img/welcome.jpg");
  background-repeat: no-repeat;
  background-position-x: calc(100%);
  padding-top: 150px;
}

.welcomeSection h2 {
  margin-bottom: 25px;
}

.welcomeSection p {
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 75px;
}

.welcomeSection a {
  background-color: #710707;
  text-decoration: none;
  border-radius: 10px;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 360px;
  height: 75px;
  margin-bottom: 180px;
}

.videosection {
  padding: 90px 75px 75px 75px;
}

.container {
  padding: 0px;
  margin: 0px auto;
  width: 1440px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background-color: black;
  background-image: url("assets/svg/logo.svg");
  background-position-y: 59px;
  background-repeat: no-repeat;
}

nav {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 22px;
  font-style: normal;
  width: 740px;
  color: white;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  padding: 0px 5px;
  list-style: none;
  line-height: 26px;
}

.underline-title {
  position: relative;
}

.underline-title::after {
  content: "";
  position: absolute;
  background-color: #710707;
  left: 0;
  bottom: -25px;
  right: 0;
  height: 3px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px 15px;
}

.card-container a {
  display: block;
  text-decoration: none;
  color: #000;
}

.card-container a h3 {
  margin-top: 25px;
  font-family: "Forum";
  font-size: 32px;
  letter-spacing: 5px;
  line-height: 35px;
}

.card-container a h3::after {
  height: 2px;
  width: 300px;
  bottom: -10px;
}

.card-container a p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explore .underline-title {
  margin-bottom: 103px;
}

.explore .underline-title::after {
  width: 660px;
}

.explore p {
  letter-spacing: 0px;
  font-size: 22px;
  line-height: 38px;
  margin-top: 25px;
}

.explore img {
  width: 720px;
  height: 700px;
}

.explore span {
  color: #CAAA7D;
}

.video p {
  font-weight: 300px;
  font-size: 22px;
  line-height: 38px;
  margin-top: 10px;
}

.video .content {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tickets {
  position: relative;
  color: #000;
}

.tickets .buy {
  background-color: #000;
  width: 175px;
  height: 50px;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  margin-top: 80px;
}

.tickets p, .tickets label {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0px;
}

.tickets .number {
  display: inline-block;
  position: relative;
  width: 150px;
}

.tickets .number .number-minus {
  bottom: auto;
  left: 1px;
}

.tickets .number .number-plus {
  top: 215px;
  right: 1px;
}

.tickets .number1 {
  display: inline-block;
  position: relative;
  width: 150px;
}

.tickets .number1 .number-minus1 {
  bottom: 251px;
  left: 1px;
}

.tickets .number1 .number-plus1 {
  bottom: 251px;
  right: 1px;
}

.tickets input {
  margin-bottom: 25px;
}

.tickets .tickets-type {
  position: absolute;
  top: 226px;
  left: 780px;
}

.tickets .tickets-type p {
  margin-bottom: 50px;
}

.tickets .amount {
  position: absolute;
  right: 0px;
  top: 226px;
}

.tickets .amount label {
  margin: 20px 0px;
}

.tickets img {
  margin-top: 0px;
}

.tickets .underline-title {
  width: 100%;
}

.contacts ul {
  padding: 0px;
}

.contacts li {
  list-style: none;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0px;
  margin-bottom: 25px;
}

.contacts .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-container {
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url(assets/svg/logo.svg);
  background-repeat: no-repeat;
  background-position-y: 20px;
}

.footer-container nav {
  width: 400px;
}

.footer-container nav ol {
  list-style: none;
  -webkit-column-count: 2;
          column-count: 2;
}

.footer-container li {
  list-style: none;
  display: inline;
  padding-left: 90px;
}

a:hover {
  color: #CAAA7D;
}

a:visited {
  color: #710707;
}
/*# sourceMappingURL=style.css.map */